[submodule "app-setup/Kiwapp_GulpFile"]
	path = app-setup/Kiwapp_GulpFile
	url = git@github.com:procheo/Kiwapp_GulpFile.git
[submodule "app/Kiwapp_GulpFile"]
	path = app/Kiwapp_GulpFile
	url = git@github.com:procheo/Kiwapp_GulpFile.git
